In [ ]:
import pandas as pd
import sqlite3 
import matplotlib.pyplot as plt
import seaborn as sns

# Load the full dataset
df = pd.read_csv('Salary_Data.csv')
print(f" Toatal employees: {len(df)}")
print(df.head(10))

# Setup SQL
conn = sqlite3.connect(":memory:")
df.to_sql('employees', conn, index= False)

# All about Data Scientists
data_scientists = pd.read_sql_query("""
    SELECT *
    FROM employees 
    WHERE `Job Title` = 'Data Scientist'
""", conn)

print(f"Total Data Scientists: {len(data_scientists)}")
print(f"Average DS Salary: ${data_scientists['Salary'].mean():,.0f}")
print(f"Salary Range: ${data_scientists['Salary'].min():,.0f} - ${data_scientists['Salary'].max():,.0f}")

# Experience vs Salary for Data Scientists
plt.figure(figsize=(10, 6))
plt.scatter(data_scientists['Years of Experience'], data_scientists['Salary'], alpha=0.5)
plt.xlabel('Years of Experience')
plt.ylabel('Salary')
plt.title('Data Scientists: Eperience vs Salary')
plt.grid(True, alpha=0.3)
plt.show()

# Education impact on DS salary
# Tech roles comparison
tech_roles = pd.read_sql_query("""
    SELECT `Job Title`, 
           AVG(Salary) as avg_salary,
           AVG(`Years of Experience`) as avg_experience,
           COUNT(*) as count
    FROM employees 
    WHERE `Job Title` IN ('Data Scientist', 'Software Engineer', 'Data Analyst', 
                          'Software Developer', 'Data Engineer')
    GROUP BY `Job Title`
    ORDER BY avg_salary DESC
""", conn)

print(tech_roles)

#visualize
plt.figure(figsize=(12,6))
plt.barh(tech_roles['Job Title'], tech_roles['avg_salary'])
plt.xlabel('Avarage Salary ($)')
plt.title('Tech Roles: Avarage Salary Comparision')
plt.tight_layout()
plt.show()

# Education impact on DS salary
ds_by_education = pd.read_sql_query("""
    SELECT `Education Level`,
           AVG(Salary) as avg_salary,
           COUNT(*) as count
    FROM employees 
    WHERE `Job Title` = 'Data Scientist'
    GROUP BY `Education Level`
    ORDER BY avg_salary DESC
""", conn)

print(ds_by_education)

In [2]:
# Education impact on DS salary
ds_by_education = pd.read_sql_query("""
    SELECT `Education Level`,
           AVG(Salary) as avg_salary,
           COUNT(*) as count
    FROM employees 
    WHERE `Job Title` = 'Data Scientist'
    GROUP BY `Education Level`
    ORDER BY avg_salary DESC
""", conn)

print(ds_by_education)

NameError: name 'pd' is not defined